/* 
dy{
    padding: 0;
    margin: 0;
    
    height: 100%;
}



.mainContainer{
    display: flex;
}
.left{
    width: 50%;
    
    
}
.left-mid-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right {
    width: 50%;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  
  .right img {
    width: 100%; 
    max-height: 100%; 
    object-fit:cover; 
    padding: 10px;
    border-radius: 24px;
  }
.name{
    margin: 0.5rem 0 0.5rem 90px;
    display: flex;
    font-size: 48px;
    font-family: cookie;
    font-weight: 400;
}
.m-1{
    margin: 0rem 0 1rem 0;
    font-size: 40px;
    font-family:DM Sans;
    color:  #024744;
    font-weight: 700;
}
.m-1>p{
   margin: -3rem 0 0 0;
}
.m-2{
    margin: 0 0 0.5rem 0;
}
.auth-buttons .google-button {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #40ABA4;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 430px;
    border-radius: 12px;
  }
  
  .auth-buttons .google-icon {
    height: 20px; 
    margin: 0 10px 0 6rem; 
  }
  .apple-button {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #40ABA4;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 430px;
    border-radius: 12px;
  }
  
  .apple-button img {
    height: 20px; 
    margin: 0 10px 0 6rem; 
  }
  
  
  hr{
    width: 60px;
    color: black;
  }
  .lines {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
  
  .lines hr {
    flex: 1;
    margin: 0 10px;
    border: none;
    border-top: 1px solid #ccc;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #input-1,
  #input-2 {
    border: 1px solid #ccc;
    width: 200px;
    margin: 0.5rem 0; 
    padding: 10px;
    border-radius: 12px;
  }
 
  .first-input,
  .second-input {
    display: flex;
    flex-direction: column;
    position: relative;
    
   
  }
  .first-input{
    margin: 0 15px 0 0;
  }
  .second-input{
    margin: 0 0 0 15px;
  }
  .second-input
 
  
  .fa-regular {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   cursor: pointer;
   margin: 8px 0 0 0;
 }
  
  .first-input > label,
  .second-input > label {
    margin-bottom: -8px;
    display: flex;
    
  }
 
  .forgot-password>a{
    display: flex;
    justify-content: flex-end;
    color: #024744;
    font-family: DM Sans;
  }
 .sign-up{
    color: #40ABA4;
    font-family: DM Sans;
 }
 .sign-in{
    margin: 0 0 1rem 0;
    color: #31807b;
 }
 .sign-in>a{
    color: #058a83;
    font-weight: 700;
 }
 .name-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 10px 0;
    
 }
 .f-name{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25px;
 }
 .f-name>label{
    display: flex;
 }
 .f-name>input{
    width: 430px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
 }
 .l-name{
    display: flex;
    flex-direction: column;
 }
 .l-name>label{
    display: flex;
    margin: ;
 }
 .l-name>input{
    width: 430px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
 }
 #first-name{
    margin: 0 30px 0 0;
 }
 .terms{
    font-size: 14px;
    font-family: poppins;
 }
 .terms>a{
    text-decoration: underline;
    color: gray;
    font-weight: 400;
 }
 .login-button{
    margin: 10px 0 0 0;
 }
 .flex-input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 2rem 0;
 } */