/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  transition: transform 0.3s ease;
}

.hidden{
  display: none !important;
}

.scaleanimate {
  animation-name: scaleanimate;
  animation-duration: 400ms;
  animation-delay: 0s;
}

@keyframes scaleanimate {
  from {
    transform: scale(0%);
  }
}
.transitionanimate {
  animation-name: transitionanimate;
  animation-duration: 900ms;
  animation-delay: 0s;
  transition: 2s linear;
}

@keyframes transitionanimate {
  from {
    opacity: 0;
  }
}
